* {
  margin: 0;
  background-color: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: "Inconsolata", monospace;
  font-size: 101%;
  color: #d4d4d8;
}

.infoBox-viewCharacter h3 {
  font-size: 150%;
  color: #84cc16;
}

footer .fa-heart {
  color: #84cc16;
}
footer p span {
  font-family: "Warnes", cursive;
  color: #84cc16;
}

#search {
  width: 80%;
  margin-top: 2%;
  margin-left: 3%;
  border: none;
  border-bottom: 2px solid #84cc16;
}

#numPage-characters, #numPage-episodes, #numPage-locations {
  width: 45px;
  height: 35px;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
}
@media (max-width: 566px) {
  #numPage-characters, #numPage-episodes, #numPage-locations {
    width: 30px;
    height: 30px;
    font-size: 80%;
  }
}

#numPage {
  margin-right: 2%;
}

#btnMoodLight {
  width: 54px;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  background-color: #202020;
}
@media (max-width: 640px) {
  #btnMoodLight {
    margin-top: 3%;
    margin-right: 3%;
  }
}
#btnMoodLight span {
  font-size: 80%;
  padding: 4px;
  width: 25px;
  height: 25px;
  display: block;
  background-color: rgba(32, 32, 32, 0);
  color: #84cc16;
}
#btnMoodLight span i {
  color: #84cc16;
  background-color: #202020;
}
#btnMoodLight::after {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  background-color: #84cc16;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
#btnMoodLight.active::after {
  right: 0;
  left: unset;
}

.boxButton button {
  margin-left: 4%;
  margin-right: 4%;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
  padding: 2%;
}

.btn_closeModal {
  width: 35px;
  align-self: flex-end;
  margin-right: 2%;
  margin-top: 2%;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
}

#selectType, #selectOrder, .optionCharacters, .optionLocations {
  margin-left: 4%;
  margin-right: 4%;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
}
@media (max-width: 530px) {
  #selectType, #selectOrder, .optionCharacters, .optionLocations {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

table {
  width: 100%;
  margin-top: 6%;
  text-align: center;
  border-collapse: collapse;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
}
table th, table td {
  padding: 13px;
  font-size: 90%;
}
table thead tr th {
  color: #84cc16;
  background-color: rgba(32, 32, 32, 0.3);
}
table .view {
  color: #84cc16;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 8px;
}
@media (max-width: 640px) {
  table {
    width: 100%;
  }
}
@media (max-width: 640px) {
  table {
    font-size: 70%;
  }
  table th, table td {
    padding: 9px;
  }
}
@media (max-width: 415px) {
  table {
    font-size: 65%;
  }
  table th, table td {
    padding: 5px;
  }
}

.season table {
  width: 99%;
}

.cardSeason {
  width: 29.3333333333%;
  margin: 4% 1% 3% 1%;
}
.cardSeason img {
  width: 100%;
  height: 350px;
  box-shadow: 5px 5px 10px #3e3e41;
  transform: translateY(0%);
  transition: 0.3s;
}
.cardSeason h5 {
  margin-top: 7%;
}
.cardSeason:hover img {
  transform: translateY(-3%);
}
.cardSeason:hover h5 {
  color: #84cc16;
}
@media (max-width: 1200px) {
  .cardSeason {
    width: 36%;
    margin: 4% 1% 3% 1%;
  }
}
@media (max-width: 680px) {
  .cardSeason {
    width: 76%;
    margin: 4% 1% 3% 1%;
  }
}

.cardCharacter {
  width: 12.6666666667%;
  margin: 3% 1% 0% 1%;
}
.cardCharacter .characterImg {
  overflow: hidden;
}
.cardCharacter img {
  width: 100%;
  height: 250px;
  transition: 0.4s;
}
.cardCharacter h5 {
  text-align: center;
  padding-top: 10%;
  font-size: 90%;
  height: 70px;
  background-color: #18181b;
  border-top: 5px solid #84cc16;
}
.cardCharacter:hover img {
  transform: scale(1.1);
}
.cardCharacter:hover h5 {
  background-color: #84cc16;
  color: black;
}
@media (max-width: 1200px) {
  .cardCharacter {
    width: 16%;
    margin: 4% 1% 3% 1%;
  }
}
@media (max-width: 1000px) {
  .cardCharacter {
    width: 21%;
    margin: 4% 1% 3% 1%;
  }
}
@media (max-width: 800px) {
  .cardCharacter {
    width: 29.3333333333%;
    margin: 4% 1% 3% 1%;
  }
}
@media (max-width: 600px) {
  .cardCharacter {
    width: 46%;
    margin: 4% 1% 3% 1%;
  }
}
@media (max-width: 400px) {
  .cardCharacter {
    width: 76%;
    margin: 4% 1% 3% 1%;
  }
}

.cardLocations {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2%;
}
@media (max-width: 750px) {
  .cardLocations {
    width: 100%;
    margin-top: 5%;
  }
}
.cardLocations div {
  width: 90%;
}
@media (max-width: 750px) {
  .cardLocations div {
    width: 100%;
  }
}
.cardLocations div h3 {
  padding: 1%;
  font-size: 120%;
  border: 1px solid #84cc16;
  border-radius: 5px 5px 0px 0px;
  color: #84cc16;
  background-color: rgba(32, 32, 32, 0.3);
}
@media (max-width: 640px) {
  .cardLocations div h3 {
    font-size: 100%;
  }
}
.cardLocations div table {
  margin: 0%;
}
.cardLocations div table th {
  background-color: black;
}
.cardLocations div table tbody {
  background-color: rgba(32, 32, 32, 0.3);
}
@media (max-width: 640px) {
  .cardLocations div table {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .cardLocations div table {
    font-size: 75%;
  }
  .cardLocations div table th, .cardLocations div table td {
    padding: 9px;
  }
}
@media (max-width: 415px) {
  .cardLocations div table {
    font-size: 65%;
  }
  .cardLocations div table th, .cardLocations div table td {
    padding: 5px;
  }
}

body {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header div {
  background-image: url(../img/rmbackGround.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.7;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header div img {
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 900px) {
  header div img {
    width: 35%;
  }
}
@media (max-width: 790px) {
  header div img {
    width: 40%;
  }
}
@media (max-width: 690px) {
  header div img {
    width: 45%;
  }
}
@media (max-width: 590px) {
  header div img {
    width: 50%;
  }
}
@media (max-width: 490px) {
  header div img {
    width: 55%;
  }
}

main {
  width: 80%;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  main {
    width: 100%;
  }
}

section {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

#boxMoodLight {
  margin-bottom: 4%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1140px) {
  .titleSearch {
    text-align: center;
    margin-bottom: 3%;
  }
}

.boxButton {
  align-self: center;
  width: 30%;
  margin-top: 8%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1360px) {
  .boxButton {
    width: 40%;
  }
}
@media (max-width: 994px) {
  .boxButton {
    width: 50%;
  }
}
@media (max-width: 790px) {
  .boxButton {
    width: 60%;
  }
}
@media (max-width: 675px) {
  .boxButton {
    width: 70%;
  }
}
@media (max-width: 566px) {
  .boxButton {
    width: 100%;
  }
}

.viewSeasons {
  width: 100%;
  margin-top: 1%;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 640px) {
  .viewSeasons {
    justify-content: center;
  }
}

.errors {
  padding: 2%;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.errors .fa-circle-exclamation {
  color: #84cc16;
  font-size: 250%;
}
.errors p {
  margin-top: 4%;
  font-size: 90%;
  color: #84cc16;
}

.season {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.season div img {
  width: 350px;
  height: 450px;
}
@media (max-width: 640px) {
  .season div img {
    width: 250px;
    height: 350px;
  }
}
.season .table {
  width: 95%;
}

.containerSearch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1140px) {
  .containerSearch {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.containerSearch .searchBox {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 885px) {
  .containerSearch .searchBox {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.containerSearch .search-selectBox {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1140px) {
  .containerSearch .search-selectBox {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 530px) {
  .containerSearch .search-selectBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.containerSearch .search-selectBox .selectBox {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2%;
}
@media (max-width: 530px) {
  .containerSearch .search-selectBox .selectBox {
    height: 130px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.containerSearch .search-selectBox .selectBox .selectType {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 530px) {
  .containerSearch .search-selectBox .selectBox .selectType {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 530px) {
  .containerSearch .search-selectBox .selectBox .selectType label {
    margin-bottom: 3%;
  }
}
.containerSearch .search-selectBox .selectBox .optionCharacters, .containerSearch .search-selectBox .selectBox .optionLocations {
  margin-top: 3%;
  width: 60%;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 70%;
  background-color: rgba(17, 17, 17, 0.749);
  padding: 2%;
  border-radius: 15px;
  position: fixed;
  padding: 1%;
  border: 1px solid #84cc16;
  border-radius: 5px;
}

.modalCharacters {
  z-index: 2;
  left: 15vw;
  top: 10vh;
}

.modalEpisodes, .modalLocations {
  top: 5vh;
  z-index: 1;
  left: 5vw;
  width: 85%;
  height: 85%;
  text-align: center;
}
.modalEpisodes .paint-modalEpisodes, .modalEpisodes .paint-modalLocation, .modalLocations .paint-modalEpisodes, .modalLocations .paint-modalLocation {
  width: 90%;
  padding: 2%;
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

footer {
  width: 100%;
  background-color: #030303;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-top: 1px solid #84cc16;
  box-shadow: 0px -3px 10px #29292c;
}
footer .imgLogo {
  width: 20px;
  padding-top: 2%;
}

.display {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
