.errors{
    padding: 2%;
    width: 100%;
    height: auto;
    @include flex(flex, column, nowrap, space-between, center);
    .fa-circle-exclamation{
        color: $colorSecondary;
        font-size: 250%;
    }
    p{
        margin-top: 4%;
        font-size: 90% ;
        color: $colorSecondary;
    }
}

// SECTION CHARACTERS 

.paint-modalCharacter {
    width: 95%;
    padding: 2%;
    margin-top: 3%;
    @include borderInput;
    @include flex(flex, row, nowrap, center, flex-start );
    
        .infoBox-viewCharacter {
            padding: 1%;
            width: 60%;
            height: auto;
            margin-left: 5%;
            @include flex(flex, column, nowrap, space-around, flex-start);
            div {
                @include flex(flex, row, nowrap, flex-start, center)
            }
            .itemsCharacters{
                width: 100%;
                margin-top: 4%;
                @include flex(flex, row, nowrap, flex-start, center);
    
                p{
                    margin-left: 3%;
                }
            }
        }
    
        @include responsive(800px){
            width: 100%;
        }
        @include responsive(900px){
            @include flex(flex, column, nowrap, center, center);
            div{
                text-align: center;
            .img-viewCharacter{
              width: 80%;
              margin-top: 5%;
            } }
    
            .infoBox-viewCharacter{
                width: 90%;
                margin-top: 5%;
            }
        }
    }


// SECTION SEASON 

.season{
    width: 100%;
    padding: 1%;
    @include flex(flex, column, nowrap, space-between, center);
    div img{
        width: 350px;
        height: 450px;
        @include responsive(){
            width: 250px;
            height: 350px;
        }
    }
    .table{
        width: 95%;
    }
   
}