header {

    div{
        background-image: url(../img/rmbackGround.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.7;
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
       
       
        img {
            width: 30%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            @include responsive(900px){
                width: 35%;
            }
            @include responsive(790px){
                width: 40%;
            }
            @include responsive(690px){
                width: 45%;
            }
            @include responsive(590px){
                width: 50%;
            }
            @include responsive(490px){
                width: 55%;
            }
        }

     }
     
}